! URXVT GENERAL CONFIG
!------------------------------------------------
URxvt*allow_bold: false
URxvt.scrollBar: false
URxvt.internalBorder: 10

! URXVT FONT SETTINGS
!------------------------------------------------
! URxvt.letterSpace: -1
URxvt.font: xft:Terminess Powerline:size=9

Xcursor.theme: Paper

! COLOR SCHEME
!------------------------------------------------
*background: #152026
*foreground: #BDB4AB

! black
*color0: #152026

! bright_black
*color8: #455046

! red
*color1: #BC9986

! bright_red
*color9: #DEA4A4

! green
*color2: #354E25

! bright_green
*color10: #B4E8A2

! yellow
*color3: #A1B049

! bright_yellow
*color11: #E4E86D

! blue
*color4: #40535D

! bright_blue
*color12: #A2C4E8

! magenta
*color5: #959D74

! bright_magenta
*color13: #DD99F0

! cyan
*color6: #3D4E3E

! bright_cyan
*color14: #AFF0DA

! white
*color7: #BDB4AB

! bright_white
*color15: #EDE4DB
