! URXVT GENERAL CONFIG
!------------------------------------------------
URxvt*allow_bold: false
URxvt.scrollBar: false
URxvt.internalBorder: 10

! URXVT FONT SETTINGS
!------------------------------------------------ 
! URxvt.letterSpace: -1
URxvt.font: xft:Terminess Powerline:size=9

Xcursor.theme: Paper

! COLOR SCHEME 
!------------------------------------------------
*background: #4C5B5C
*foreground: #E4E4E4

! black
*color0: #2C3B3C

! bright_black
*color8: #6C7B7C

! red
*color1: #FF715B

! bright_red
*color9: #FF9282

! green
*color2: #C8EA4B

! bright_green
*color10: #D8FC58

! yellow
*color3: #FFD454

! bright_yellow
*color11: #FFDB70

! blue
*color4: #5476FF

! bright_blue
*color12: #7590FF

! magenta
*color5: #DC87FF

! bright_magenta
*color13: #C587FF

! cyan
*color6: #5AFCA8

! bright_cyan
*color14: #77FFB9

! white
*color7: #E4E4E4

! bright_white
*color15: #F6F6F6
